body {
    background-color: #f3f4f6;
}

.configuracion h1 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.config-form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.config-form label {
    display: block;
    margin-bottom: 5px;
}

.config-form input[type="text"],
.config-form input[type="number"],
.config-form select,
.config-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.config-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.config-form button:hover {
    background-color: #45a049;
}