/* Estilo básico para la página */
body {
    background-color: #f0f2f5; /* Color de fondo más suave */
}

/* Estilo del contenedor principal */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilo del encabezado */
h1 {
    font-size: 1.6rem; /* Aumenta el tamaño del texto */
    color: #2c3e50; /* Un color más oscuro para el título */
    margin-bottom: 20px;
    text-align: center; /* Centrado del texto */
}

/* Formulario */
form {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 30px; /* Aumento del padding */
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

/* Estilo de las etiquetas */
label {
    font-size: 18px; /* Tamaño de fuente mayor */
    margin-bottom: 5px;
    color: #34495e; /* Color de texto más atractivo */
}

/* Estilo de los campos de entrada */
input[type="number"] {
    padding: 12px; /* Aumento del padding */
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px; /* Espacio más grande entre campos */
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease; /* Transición suave al enfocar */
}

input[type="number"]:focus {
    border-color: #3498db; /* Cambio de color al enfocar */
    outline: none; /* Quitar el borde de enfoque por defecto */
}

/* Estilo del botón */
button {
    background-color: hsl(108, 21%, 49%); /* Color verde del botón */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    font-size: 18px; /* Aumento del tamaño del texto */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones más suaves */
}

button:hover {
    background-color: #218838; /* Color más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevación */
}

button:active {
    transform: translateY(0); /* Efecto de retorno al hacer clic */
}

/* Alerta de éxito */
.alert {
    padding: 15px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
}

.alert-exito {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    width: 100%;
    text-align: center;
}
