body {
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

main {
    margin-top: 6rem;
    text-align: center; /* Alinea horizontalmente el texto */
}

.consejo-truco h1 {
    color: #333;
    margin-bottom: 1rem;
}

.consejo-truco  {
    color: #555;
    margin-bottom: 2rem;
}