.mano {
    background-image: url('imagenes/home');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 100%; /* Asegúrate de que el div ocupe el 100% del ancho */
    height: 100vh; /* Asegúrate de que el div ocupe el 100% de la altura de la pantalla */
}

h1 {
    margin-top: 20px;
}
