body {
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Asegura que el contenido principal ocupe el espacio disponible */
}

.footer {
    background-color: hsl(108, 21%, 49%);
    color: white;
    padding: 1rem; /* Reduce el padding para hacer el footer más compacto */
    width: 100%;
    position: relative; /* Cambiado a relative */
    bottom: 0;
    display: flex;
    justify-content: center; /* Centra el footer-container horizontalmente */
}
  

.footer-container {
    display: flex;
    justify-content: center; /* Centra las secciones horizontalmente */
    max-width: 100rem; /* 1280px */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    gap: 8rem; /* Agrega espacio entre las secciones */
}

.footer-section {
    flex: 1; /* Permite que los elementos se distribuyan equitativamente */
    min-width: 15rem; /* Asegura un mínimo de ancho para cada sección */
    padding: 0.5rem; /* Reduce el padding interno */
}

.footer-section h4 {
    margin-bottom: 0.5rem; /* Reduce el margen inferior */
    color: #8cc63f;
}

.footer-section p a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section p a:hover {
    color: #8cc63f;
}

.footer-section p {
    margin: 0.15625rem 0; /* Reduce el margen superior e inferior */
}

.logo {
    width: 6.25rem; /* 100px */
    margin-bottom: 0.3125rem; /* Reduce el margen inferior */
}

.social-icon {
    width: 1.5625rem; /* 25px */
    vertical-align: middle;
    margin: 0.0625rem 0.46875rem 0.15625rem 0; /* Reduce los márgenes */
}

/* Estilos específicos para la clase Instagram */
.instagram a {
    color: aliceblue;
    text-decoration: none;
}

.instagram a:hover {
    color: #8cc63f;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 48rem) { /* 768px */
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center; /* Alinea el contenido al centro */
        gap: 1rem; /* Reduce el espacio entre las secciones en pantallas pequeñas */
    }

    .footer-section {
        margin: 0.3125rem 0; /* Reduce el margen superior e inferior */
    }

    .logo {
        margin-bottom: 0.15625rem; /* Reduce el margen inferior */
    }

    .social-icon {
        margin-right: 0.3125rem; /* Reduce el margen derecho */
        margin-top: 0.03125rem; /* Reduce el margen superior */
        margin-bottom: 0.078125rem; /* Reduce el margen inferior */
    }
}
