.footer {
    background-color: hsl(108, 21%, 49%);
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0 auto;
}


.footer-section h4 {
    margin-bottom: 15px;
    color: #8cc63f;
    left: 50rem;
}


.footer-section p a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;    
}

.footer-section p a:hover {
    color: #8cc63f;

}

.footer-section p {
    margin: 5px 0;
    margin-bottom: 8px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

.social-icon {
    width: 25px;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.instagram a{
   color: aliceblue;
   text-decoration: none;
}

.instagram a:hover{
    color: #8cc63f;
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 10px 0;
        text-align: center;
    }
}