body {
    background-color: #f3f4f6;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}

.container-login {
    background-color: white;
    padding: 2.6rem;
    border-radius: 0.8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.container-login img {
    width: 80px;
    margin-bottom: 0.5rem;
}

.container-login h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.6rem;
    font-size: 1.05rem;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 106%;
    margin-top: 0.5rem;
}

.btn:hover {
    background-color: #0056b3;
}

.container-login a {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
}

.container-login a:hover {
    text-decoration: underline;
}

.alert {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    text-align: left;
}

.alert-exito {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    width: 95%;
    text-align: center;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 95%;
    text-align: center;
}
