body {
    font-family: Arial, sans-serif;
}

main {
    padding: 20px;
    margin-left: 10px;
    background-color: #f4f4f4;
}


form {
    max-width: 400px; 
    padding: 20px;
    background-color: #f9f9f9; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

input[type="text"], select, button {
    width: 90%; 
    margin-bottom: 10px;

    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h2 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.plantas-container {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    margin-left: 20px; 
    max-width: 400px;
}

.planta-card {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    margin-bottom: 10px; 
    width: 100%; 
    max-width: 100%; 
}


.planta-card h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.planta-card p {
    margin: 10px 0;
}

.planta-card a button {
    margin-top: 10px;
    background-color: #28a745;
    color: white;
}

.planta-card a button:hover {
    background-color: #28a745;
}

.alert {
    padding: 10px;
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    margin-bottom: 20px;
    border-radius: 5px;
}
