main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

form h1 {
    color: #000000;
    margin-bottom: 10px;
}

form p {
    color: #757575;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #00796b;
    outline: none;
}

button {
    background: hsl(108, 21%, 49%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}


.login-container .alert {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    text-align: left;
}

.login-container .alert-exito {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    width: 95%;
    text-align: center;
}

.login-container .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 95%;
    text-align: center;
}
