/* perfil.css */
body {
    background-color: #f3f4f6;
}

.perfil-container {
    max-width: 30rem;
    margin: 10rem auto;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.perfil-header {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    margin-bottom: 1rem;
}

.perfil-header .perfil-img {
    height: 1.5rem; /* Incrementa el tamaño de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el título */
}

.perfil-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.perfil-info div {
    width: 48%;
    margin-bottom: 20px;
}

.perfil-info label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.perfil-info span {
    font-size: 16px;
    color: #333;
}

.perfil-info button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #FFF;
    border: 1px solid #D5D9D9;
    font-size: 13px;
    height: 31px;
    padding: 0 13px;
    text-align: center;
    color: #0F1111;
}

.perfil-info button:hover {
    background-color: #F7FAFA;
    border-color: #D5D9D9;
}

.perfil-info a {
    text-decoration: none;
    color: #337ab7;
}

.perfil-info a:hover {
    text-decoration: underline;
}
