body {
    margin: 0;
    padding: 0;
}
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 52vh;
    padding: 1rem;
    text-align: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}



h1 {
    color: white;
    font-size: calc(36px + (46 - 38) * (100vw - 400px) / (1920 - 400));
    margin-top: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    z-index: 9;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.386);
    max-width: 800px;
    width: 100%;
    margin-bottom: 2rem;
    text-align: justify;
}

.box h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.box p {
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
}
.content p {
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
}