body {
    margin: 0;
    padding: 0;
  }

.hero {
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    min-height: 70vh;
}

h1 {
    color: white;
    animation-name: opacidad;
    animation-duration: 3s;
    font-size: calc(38px + (46 - 38) * (100vw - 400px) / (1920 - 400));
    line-height: 1;
    font-size: calc(22px + (70 - 22) * (100vw - 400px) / (1920 - 400));
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 50rem;
    padding: 11rem 0;
    font-weight: 600;
    z-index: 9;
    text-align: center;
    line-height: 1.1;
}